@import 'tailwindcss';

@theme {
  --color-navy: #0b1e3f;
  --color-carmin: #c8112e;
  --color-parchemin: #f4f3f1;
}
 
@custom-variant dark (&:where(.dark, .dark *));
 

@layer base {
  :root {
    --theme-transition-duration: 350ms;
  }
 
  * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: ease;
    transition-duration: var(--theme-transition-duration);
  }
}
 