@import 'tailwindcss';

@theme {
  --color-navy: #0b1e3f;
  --color-carmin: #c8112e;
  --color-parchemin: #f4f3f1;
}
 
@custom-variant dark (&:where(.dark, .dark *));
 

@layer base {
  :root {
    --theme-transition-duration: 350ms;
  }
 
  * {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: ease;
    transition-duration: var(--theme-transition-duration);
  }
}



.principal{
  animation-name: scroll;
  animation-duration:1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes scroll {

  0%{
    transform: translateY(100px);
    opacity: 0;
  }

  10%{
    transform: translateY(90px);
    opacity: 10%;
  }


  20%{
    transform: translateY(80px);
    opacity: 20%;
  }


  30%{
    transform: translateY(70px);
    opacity: 30%;
  }


  40%{
    transform: translateY(60px);
    opacity: 40%;
  }


  50%{
    transform: translateY(50px);
    opacity: 50%;
  }


  60%{
    transform: translateY(40px);
    opacity: 60%;
  }


  70%{
    transform: translateY(30px);
    opacity: 70%;
  }


  80%{
    transform: translateY(20px);
    opacity: 80%;
  }


  90%{
    transform: translateY(10px);
    opacity: 90%;
  }


  100%{
    transform: translateY(0px);
    opacity: 100%;
  }
}


.left{
  animation-name: scrollleft;
  animation-duration:1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes scrollleft {

  0%{
    transform: translateX(-100px);
    opacity: 0;
  }

  10%{
    transform: translate(-90px);
    opacity: 10%;
  }


  20%{
    transform: translateX(-80px);
    opacity: 20%;
  }


  30%{
    transform: translateX(-70px);
    opacity: 30%;
  }


  40%{
    transform: translateX(-60px);
    opacity: 40%;
  }


  50%{
    transform: translateX(-50px);
    opacity: 50%;
  }


  60%{
    transform: translateX(-40px);
    opacity: 60%;
  }


  70%{
    transform: translateX(-30px);
    opacity: 70%;
  }


  80%{
    transform: translateX(-20px);
    opacity: 80%;
  }


  90%{
    transform: translateX(-10px);
    opacity: 90%;
  }


  100%{
    transform: translateX(0px);
    opacity: 100%;
  }
}


.right{
  animation-name: scrollright;
  animation-duration:1s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}

@keyframes scrollright {

  0%{
    transform: translateX(100px);
    opacity: 0;
  }

  10%{
    transform: translateX(90px);
    opacity: 10%;
  }


  20%{
    transform: translateX(80px);
    opacity: 20%;
  }


  30%{
    transform: translateX(70px);
    opacity: 30%;
  }


  40%{
    transform: translateX(60px);
    opacity: 40%;
  }


  50%{
    transform: translateX(50px);
    opacity: 50%;
  }


  60%{
    transform: translateX(40px);
    opacity: 60%;
  }


  70%{
    transform: translateX(30px);
    opacity: 70%;
  }


  80%{
    transform: translateX(20px);
    opacity: 80%;
  }


  90%{
    transform: translateX(10px);
    opacity: 90%;
  }


  100%{
    transform: translateX(0px);
    opacity: 100%;
  }
}


.scale{
  
  animation-name:big;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes big {

  0%{
    opacity: 0;
    transform: scale(0.5);
  }

  20%{
    opacity: 20%;
    transform: scale(0.6);
  }

  40%{
    opacity: 40%;
    transform: scale(0.7);
  }
  
  60%{
    opacity: 60%;
    transform: scale(0.8);
    
  }

  80%{
    opacity: 70%;
    transform: scale(0.9);
  }

  100%{
    opacity: 100%;
    transform: scale(1);
  }

}